.section{
  &:nth-child(4) {
    background-color: $bg-color-secondary;
  }
  &:nth-child(7) {
    background-color: $bg-color-secondary;
  }
  &:nth-child(8) {
    background-color: $bg-color-secondary;
  }
}
