@mixin for-size($range) {
  $mobile: $mobile;
  $tablet: $tablet;
  $desktop: $desktop;

  @if $range == mobile-only {
    @media (max-width: #{$mobile - 1}) {
      @content;
    }
  } @else if $range == mobile {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet-only {
    @media (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

@mixin button($btnPadding, $btnColor) {
  padding: $btnPadding;
  background-color: $btnColor;
  border: 0;
  border-radius: 22px;
  cursor: pointer;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin push-auto {
  margin: {
    left: auto;
    right: auto;
  }
}
