// breakpoint
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

//colors
$accent-color: #d41443;
$label-title-color: #ffa5ba;
$primary-text-color: #907e82;

$primary-white-color: #ffffff;
$primary-black-color: #000000;

$primary-icon-color: #fea5bb;

$bg-color-main: #ffffff;
$bg-color-secondary: #fff5f6;
$bg-color-header: #ffb8ca;
$bg-color-mob-menu: #e17992;
$bg-color-card1: #ffb8ca;
$bg-color-card2: #f0d1a5;
$bg-color-card3: #c2e297;

$border-color: #e1e1e1;

$primary-font: 'DM Sans', sans-serif;
$accent-font: 'Titan One', cursive;
