<section class="section-about" id="about">
  <div class="container">
    <div class="section-about__main-title">
      <span class="section-about__title title">tradition and love</span>
      <h2 class="section-title">how it’s made?</h2>
    </div>
    <div class="wraper">
      <img class="cow" srcset="images/cow.png 1x, images/cow2x.png 2x" src="images/cow.png" alt=" Корова">
      <div class="section-about__description" data-description>
        <p class="section-about__text-main">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
        <p class="section-about__text-primary">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. <br><br>
        Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="section-about__button" type="button" data-about-button>Read more
          <svg class="button-icon">
            <use href="images/icon.svg#icon-arrow-2"></use>
          </svg>
        </button>
        <div class="overlay" data-overlay>
          <p class="overlay__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
            rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            Aliquam erat volutpat. Aenean accumsan. Aliquam ac dui vel dui vulputate consectetur. Mauris massa. Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
            rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            Aliquam erat volutpat. Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Aliquam erat volutpat. Aenean accumsan. Aliquam ac dui vel dui vulputate consectetur. Mauris massa. Curabitur lacinia
            enim at ex blandit, vel pellentesque odio elementum.</p>
        </div>
      </div>

    </div>
  </div>
</section>