<section class="section-advantages">
<div class="container">
  <h2 class="hidden-title">Advantages</h2>
  <ul class="advantages-list list">
    <li class="advantages-list__item">
        <h3 class="section-title advantages-list__section-title">721</h3>
        <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages-list__item apple">
        <h3 class="section-title advantages-list__section-title">16kg</h3>
        <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages-list__item heart">
        <h3 class="section-title advantages-list__section-title">84</h3>
        <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</div>
</section>