<section id="customer-rewiews" class="customer-rewiews">
  <div class="container container__customer-rewiews">
    <article class="feedback-box">
      <ul class="list autoplay">
        <li>
          <img class="img" src="./images/alex-min.png" alt="user" />
          <!-- <picture class="img">
            <source
              class="img"
              media="(min-width:1200px)"
              srcset="/images/avatar1.png 1x, /images/avatar12x.png 2x"
            />
            <source
              class="img"
              media="(min-width:768px)"
              srcset="/images/avatar1.png 1x, /images/avatar12x.png 2x"
            />
            <source
              class="img"
              media="(min-width:480px)"
              srcset="/images/avatar1.png 1x, /images/avatar12x.png 2x"
            />
            <img class="img" src="/images/avatar1.png" alt="user"/>
          </picture> -->
          <div class="description">
            <span class="description-text"
              >От улыбки хмурый день светлей, от улыбки в небе радуга проснется...
            </span>
          </div>
          <div class="name">Alex, Kyiv</div>
        </li>
        <li>
          <img class="img" src="./images/alyona-min.png" alt="user" />
          <!-- <picture class="img">
            <source
              class="img"
              media="(min-width:1200px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:768px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:480px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <img class="img" src="/images/avatar2.png" alt="user" />
          </picture> -->
          <div class="description">
            <span class="description-text"
              >Поделись улыбкою своей, и она к тебе не раз еще вернется.
            </span>
          </div>
          <div class="name">Alyona, Kharkiv</div>
        </li>
        <li>
          <img class="img" src="./images/igor-min.png" alt="user" />
          <!-- <picture class="img">
            <source
              class="img"
              media="(min-width:1200px)"
              srcset="/images/avatar3.png 1x, /images/avatar32x.png 2x"
            />
            <source
              class="img"
              media="(min-width:768px)"
              srcset="/images/avatar3.png 1x, /images/avatar32x.png 2x"
            />
            <source
              class="img"
              media="(min-width:480px)"
              srcset="/images/avatar3.png 1x, /images/avatar32x.png 2x"
            />
            <img class="img" src="/images/avatar3.png" alt="user" />
          </picture> -->
          <div class="description">
            <span class="description-text"
              >И тогда наверняка, вдруг запляшут облака, и кузнечик запиликает на скрипке...
            </span>
          </div>
          <div class="name">Igor, Kyiv</div>
        </li>
        <li>
          <img class="img" src="./images/yulia-min.png" alt="user" />
          <!-- <picture class="img">
            <source
              class="img"
              media="(min-width:1200px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:768px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:480px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <img class="img" src="/images/avatar2.png" alt="user" />
          </picture> -->
          <div class="description">
            <span class="description-text"
              >С голубого ручейка начинается река, ну, а дружба начинается с улыбки.
            </span>
          </div>
          <div class="name">Yulia, Kherson</div>
        </li>
        <li>
          <img class="img" src="./images/rostik-min.png" alt="user" />
          <!-- <picture class="img">
            <source
              class="img"
              media="(min-width:1200px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:768px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:480px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <img class="img" src="/images/avatar2.png" alt="user" />
          </picture> -->
          <div class="description">
            <span class="description-text"
              >От улыбки солнечной одной, перестанет плакать самый грустный дождик.
            </span>
          </div>
          <div class="name">Rostyslav, Kyiv</div>
        </li>
        <li>
          <img class="img" src="./images/katya-min.png" alt="user" />
          <!-- <picture class="img">
            <source
              class="img"
              media="(min-width:1200px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:768px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:480px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <img class="img" src="/images/avatar2.png" alt="user" />
          </picture> -->
          <div class="description">
            <span class="description-text"
              >Сонный лес простится с тишиной, и захлопает в зеленые ладоши.
            </span>
          </div>
          <div class="name">Katya, Dnipro</div>
        </li>
        <li>
          <img class="img" src="./images/sasha-min.png" alt="user" />
          <!-- <picture class="img">
            <source
              class="img"
              media="(min-width:1200px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:768px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <source
              class="img"
              media="(min-width:480px)"
              srcset="/images/avatar2.png 1x, /images/avatar22x.png 2x"
            />
            <img class="img" src="/images/avatar2.png" alt="user" />
          </picture> -->
          <div class="description">
            <span class="description-text"
              >Так пускай повсюду на земле, будто лампочки, включаются улыбки!
            </span>
          </div>
          <div class="name">Sasha, Kyiv</div>
        </li>
      </ul>
    </article>
  </div>
</section>
