<footer id="footer" class="footer">
  <div class="section footer-section">
    <div class="container footer-container">
      <div class="container-description">
        <p class="title title--footer">homemade ice cream made</p>
        <p class="section-title section-title--footer">with passion</p>
      </div>
      <div class="container-media">
        <ul class="social-list list">
          <li class="social-list__item">
            <a href="https://github.com/polygor1/team-project-ice-main.git" target="_blank" rel="noopener noreferrer"
              class="social-list__link touch-transform"><svg width="19" height="19" class="social-list__icon">
                <use href="../src/images/icon.svg#icon-github"></use>
              </svg></a>
          </li>
          <li class="social-list__item">
            <a href="https://web.telegram.org/" target="_blank" rel="noopener noreferrer"
              class="social-list__link touch-transform"><svg width="20" height="16" class="social-list__icon">
                <use href="../src/images/icon.svg#icon-telegram"></use>
              </svg></a>
          </li>
          <li class="social-list__item">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"
              class="social-list__link touch-transform"><svg width="19" height="19" class="social-list__icon">
                <use href="../src/images/icon.svg#icon-facebook"></use>
              </svg></a>
          </li>
        </ul>

        <p class="contact-footer">
          Feel free to contact
          <a class="contact-footer__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
  </div>

  <div class="copyright container">
    <p class="copyright__text">&copy; 2021 - Мамкины Кодеры ;)</p>
  </div>
</footer>