<section id="gallery" class="gallery">
  <div class="container container__gallery">
    <h2 class="title hidden-title">Features</h2>
    <ul class="list gallery__list">
      <li class="gallery__item">
        <picture class="gallery__img">
          <source
            class="image"
            media="(min-width:1200px)"
            srcset="/images/gallery/img1-min.jpg 1x, /images/gallery/img12x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:768px)"
            srcset="/images/gallery/img1-min.jpg 1x, /images/gallery/img12x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:480px)"
            srcset="/images/gallery/img1-min.jpg 1x, /images/gallery/img12x-min.jpg 2x"
          />
          <img class="image" src="/images/gallery/img1-min.jpg" alt="user" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__img">
          <source
            class="image"
            media="(min-width:1200px)"
            srcset="/images/gallery/img2-min.jpg 1x, /images/gallery/img22x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:768px)"
            srcset="/images/gallery/img2-min.jpg 1x, /images/gallery/img22x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:480px)"
            srcset="/images/gallery/img2-min.jpg 1x, /images/gallery/img22x-min.jpg 2x"
          />
          <img class="image" src="/images/gallery/img2-min.jpg" alt="user" />
        </picture>
        <picture class="gallery__img">
          <source
            class="image"
            media="(min-width:1200px)"
            srcset="/images/gallery/img3-min.jpg 1x, /images/gallery/img32x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:768px)"
            srcset="/images/gallery/img3-min.jpg 1x, /images/gallery/img32x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:480px)"
            srcset="/images/gallery/img3-min.jpg 1x, /images/gallery/img32x-min.jpg 2x"
          />
          <img class="image" src="/images/gallery/img3-min.jpg" alt="user" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__img--big">
          <source
            class="image--big"
            media="(min-width:1200px)"
            srcset="/images/gallery/img4-min.jpg 1x, /images/gallery/img42x-min.jpg 2x"
          />
          <source
            class="image--big"
            media="(min-width:768px)"
            srcset="/images/gallery/img4-min.jpg 1x, /images/gallery/img42x-min.jpg 2x"
          />
          <source
            class="image--big"
            media="(min-width:480px)"
            srcset="/images/gallery/img4-min.jpg 1x, /images/gallery/img42x-min.jpg 2x"
          />
          <img class="image--big" src="/images/gallery/img4-min.jpg" alt="user" />
        </picture>
        <picture class="gallery__img">
          <source
            class="image"
            media="(min-width:1200px)"
            srcset="/images/gallery/img5-min.jpg 1x, /images/gallery/img52x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:768px)"
            srcset="/images/gallery/img5-min.jpg 1x, /images/gallery/img52x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:480px)"
            srcset="/images/gallery/img5-min.jpg 1x, /images/gallery/img52x-min.jpg 2x"
          />
          <img class="image" src="/images/gallery/img5-min.jpg" alt="user" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__img">
          <source
            class="image"
            media="(min-width:1200px)"
            srcset="/images/gallery/img7-min.jpg 1x, /images/gallery/img72x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:768px)"
            srcset="/images/gallery/img7-min.jpg 1x, /images/gallery/img72x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:480px)"
            srcset="/images/gallery/img7-min.jpg 1x, /images/gallery/img72x-min.jpg 2x"
          />
          <img class="image" src="/images/gallery/img7-min.jpg" alt="user" />
        </picture>
        <picture class="gallery__img">
          <source
            class="image"
            media="(min-width:1200px)"
            srcset="/images/gallery/img6-min.jpg 1x, /images/gallery/img62x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:768px)"
            srcset="/images/gallery/img6-min.jpg 1x, /images/gallery/img62x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:480px)"
            srcset="/images/gallery/img6-min.jpg 1x, /images/gallery/img62x-min.jpg 2x"
          />
          <img class="image" src="/images/gallery/img6-min.jpg" alt="user" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__img">
          <source
            class="image"
            media="(min-width:1200px)"
            srcset="/images/gallery/img8-min.jpg 1x, /images/gallery/img82x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:768px)"
            srcset="/images/gallery/img8-min.jpg 1x, /images/gallery/img82x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:480px)"
            srcset="/images/gallery/img8-min.jpg 1x, /images/gallery/img82x-min.jpg 2x"
          />
          <img class="image" src="/images/gallery/img8-min.jpg" alt="user" />
        </picture>
        <picture class="gallery__img">
          <source
            class="image"
            media="(min-width:1200px)"
            srcset="/images/gallery/img10-min.jpg 1x, /images/gallery/img102x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:768px)"
            srcset="/images/gallery/img10-min.jpg 1x, /images/gallery/img102x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:480px)"
            srcset="/images/gallery/img10-min.jpg 1x, /images/gallery/img102x-min.jpg 2x"
          />
          <img class="image" src="/images/gallery/img10-min.jpg" alt="user" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__img">
          <source
            class="image"
            media="(min-width:1200px)"
            srcset="/images/gallery/img9-min.jpg 1x, /images/gallery/img92x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:768px)"
            srcset="/images/gallery/img9-min.jpg 1x, /images/gallery/img92x-min.jpg 2x"
          />
          <source
            class="image"
            media="(min-width:480px)"
            srcset="/images/gallery/img9-min.jpg 1x, /images/gallery/img92x-min.jpg 2x"
          />
          <img class="image" src="/images/gallery/img9-min.jpg" alt="user" />
        </picture>
      </li>
    </ul>
  </div>
</section>
