<section class="hero">
  <div class="container">

    <div class="number">
      <span class="number__numbers">16</span>
      <span class="number__text">cafes</span>
      <span class="number__numbers">23</span>
      <span class="number__text">food trucks</span>
    </div>

    <img class="ellipse"
    srcset="./images/ellipse-hero-pink.png 1x, ./images/ellipse-hero-pink2x.png 2x"
    src="./images/ellipse-hero-pink.png" alt="ellipse-pink" />
    
    <img class="ice-cream"
    srcset="./images/ice-cream-hero.png 1x, ./images/ice-cream-hero2x.png 2x"
    src="./images/ice-cream-hero.png" alt="ice-cream" />
    
    <div class="hero__thumb">
      <h1 class="hero__title">ice cream </br> made with </br><span class="hero__title--pink">passion</span></h1>

      <a href="#products" class="hero__button hero__button--pink">
          Products
      </a>
      <a href="#about" class="hero__button hero__button--white">
         How it’s made? 
      </a>
      
    </div>
    
    <img class="milk"
    srcset="./images/milk.png 1x, ./images/milk2x.png 2x"
    src="./images/milk.png"
    alt="milk" />


    <div class="hero__description">

      <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

      <button class="arrow-button" type="button">
      </button>

    </div>

    <img class="lady"
    srcset="./images/lady.png 1x, ./images/lady2x.png 2x"
    src="./images/lady.png" 
    alt="lady" />

  </div>
</section>