<!-- Products -->
<section id="products" class="products">
  <div class="container">
    <!-- Title -->
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">Products</h2>
    <!-- card list -->
    <ul class="products__list">
      <li id="card-1" class="products__card">
        <picture class="products__img">
          <source srcset="
                  ./images/ice-cream.png 1x,
                  ./images/ice-cream2x.png 2x" />
          <img class="products__img" src="./images/ice-cream2x.png" alt="" />
        </picture>
        <div class="products__box">
          <h3 class="products__boxtitle">
            ice-cream
          </h3>
          <p class="products__boxtext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
          <a class="button__products touch-transform" href="#open-block-1">
            <svg class="button__products--icon " width="11" height="10">
              <use href="./images/icon.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li id="card-2" class="products__card">
        <picture class="products__img">
          <source srcset="
                              ./images/ice-coffee.png 1x,
                              ./images/ice-coffee2x.png 2x" />
          <img class="products__img" src="./images/ice-coffee2x.png" alt="" />
        </picture>
        <div class="products__box">
          <h3 class="products__boxtitle">
            ice-coffee
          </h3>
          <p class="products__boxtext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
          <a class="button__products touch-transform" href="#open-block-2">
            <svg class="button__products--icon " width="11" height="10">
              <use href="./images/icon.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li id="card-3" class="products__card">
        <picture class="products__img">
          <source srcset="
                        ./images/milkshakes.png 1x,
                        ./images/milkshakes2x.png 2x" />
          <img class="products__img" src="./images/milkshakes2x.png" alt="" />
        </picture>
        <div class="products__box">
          <h3 class="products__boxtitle">
            milkshakes
          </h3>
          <p class="products__boxtext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
          <a class="button__products touch-transform" href="#open-block-3">
            <svg class="button__products--icon " width="11" height="10">
              <use href="./images/icon.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <!-- open block -->
  <div id="open-block-1">
    <div class="open-block-inner">

      <picture class="products__img">
        <source srcset="
                                ./images/ice-cream.png 1x,
                                ./images/ice-cream2x.png 2x" />
        <img class="products__img" src="./images/ice-cream2x.png" alt="" />
      </picture>

      <div class="open-block-text">
        <h3 class="products__boxtitle">
          ice-cream
        </h3>
        <p class="products__boxtext">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere corporis consequuntur itaque quisquam
          aspernatur, nesciunt dolor quibusdam. Ipsum obcaecati illo tempore eveniet laudantium praesentium voluptas
          sunt iusto facere amet earum voluptate nulla dolorem unde aspernatur, culpa fuga rem consequuntur corporis?
          Maiores, expedita! Eveniet vel fugit error voluptatibus recusandae ducimus accusantium, nihil consequuntur
          asperiores magnam excepturi delectus autem quo praesentium fugiat eum distinctio ipsa dignissimos optio! Ad,
          doloribus voluptatem? Totam, voluptate? Distinctio recusandae qui ducimus inventore voluptas totam at in
          illum, debitis, eius quidem! Aliquam recusandae accusantium commodi nemo doloremque, aut totam officia eaque
          dignissimos, excepturi sed nulla, quas mollitia pariatur! </p>
        <a href="#card-1" class="open-block-close " title="close">
          <svg class="mobile-close__icon">
            <use href="../src/images/icon.svg#icon-close"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div id="open-block-2">
    <div class="open-block-inner">
      <picture class="products__img">
        <source srcset="
                                            ./images/ice-coffee.png 1x,
                                            ./images/ice-coffee2x.png 2x" />
        <img class="products__img" src="./images/ice-coffee2x.png" alt="" />
      </picture>
      <div class="open-block-text">
        <h3 class="products__boxtitle">
          ice-coffee
        </h3>
        <p class="products__boxtext">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium quis ex expedita minus maxime ducimus
          cumque quibusdam sint porro temporibus, vel dignissimos veritatis id labore deserunt maiores quam eius officia
          omnis tenetur! Eveniet nemo officiis esse suscipit eligendi sunt repellat exercitationem tempora eum soluta,
          vel hic expedita id aut aliquam explicabo nihil illo ut adipisci consequuntur dignissimos magnam? Suscipit
          incidunt earum, facere voluptas alias vitae explicabo blanditiis officiis dignissimos? Dolor itaque corrupti,
          vel velit laborum necessitatibus culpa voluptas, suscipit nulla quo voluptatem nostrum quos perspiciatis,
          perferendis hic sint debitis! Sed quasi laboriosam assumenda tempora veritatis et porro quibusdam commodi
          quae. </p>
        <a href="#card-2" class="open-block-close" title="close">
          <svg class="mobile-close__icon">
            <use href="../src/images/icon.svg#icon-close"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div id="open-block-3">
    <div class="open-block-inner">
      <picture class="products__img">
        <source srcset="
                                      ./images/milkshakes.png 1x,
                                      ./images/milkshakes2x.png 2x" />
        <img class="products__img" src="./images/milkshakes2x.png" alt="" />
      </picture>
      <div class="open-block-text">
        <h3 class="products__boxtitle">
          milkshakes
        </h3>
        <p class="products__boxtext">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum odio animi explicabo doloremque, quisquam ducimus
          temporibus necessitatibus ex ab mollitia a neque rem sit perspiciatis quod sunt impedit saepe officia illo,
          quis quia perferendis aliquid expedita. Exercitationem deserunt enim ab totam rerum fugit sint, quaerat amet.
          Delectus quam quidem saepe pariatur aliquam non voluptate impedit dolorem quas ipsam. Cumque distinctio
          sapiente ullam expedita, animi maxime eligendi molestias culpa ratione! Quibusdam placeat itaque soluta sunt
          culpa? Sapiente minima animi provident. Asperiores ratione illo quia blanditiis, ex sunt. Ut nostrum
          exercitationem laudantium nisi esse fugit dolores, iure adipisci reiciendis aliquid voluptates. Provident.
        </p>
        <a href="#card-3" class="open-block-close" title="close">
          <svg class="mobile-close__icon">
            <use href="../src/images/icon.svg#icon-close"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

</section>