/* Предзаголовок */

.title {
  font-family: $accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  
  text-align: center;
  text-transform: uppercase;
  
  color: $label-title-color;
  
   @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
   }
  
   @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
   }
  }
  
  /* Основной заголовок секции */
  
  .section-title {
  font-family: $accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  
  color: $accent-color;
  
  @media screen and (min-width: 768px) {
    font-size: 48px;
   }
  
   @media screen and (min-width: 1200px) {
    font-size: 58px;
   }
  }
  
  /* Заголовок в карточках */
  
  .card-title {
  font-family: $accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  
  color: $primary-white-color;
  
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
   }
  }