.contacts {
  background-color: $bg-color-secondary;
  color: black;
  padding-bottom: 113px;

  @include for-size(tablet) {
    padding-bottom: 165px;
  }
  @include for-size(desktop) {
    background-image: url('../images/bg-contacts.png');
    background-repeat: no-repeat;
  }
}

.contacts-card {
  position: relative;
  top: -84px;

  @include for-size(tablet) {
    top: -78px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto -30px;
  }

  @include for-size(desktop) {
    top: -102px;
  }
}

.contacts-card__item {
  display: block;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin: 0px auto 20px;
  padding: 43px 20px;

  color: #907e82;

  @include for-size(mobile) {
    width: 220px;
  }
  @include for-size(tablet) {
    font-size: 14px;
    line-height: 166%;
    margin-right: 20px;
    // margin-bottom: 0;
    margin-left: 0;
    padding: 50px 30px;

    &:last-child {
      margin-right: 0px;
    }
  }
  @include for-size(desktop) {
    width: 330px;
    font-size: 16px;
    margin-right: 30px;
    padding: 50px 43px 60px;
  }
}

.contacts-card__city,
.period-card__days {
  color: #000000;
  text-align: left;
  text-transform: none;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 186%;
  letter-spacing: 0.04em;

  @include for-size(tablet) {
    font-size: 14px;
  }
  @include for-size(desktop) {
    font-size: 16px;
  }
}

.contacts-card__category {
  display: inline-block;
  padding: 0 22px;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  color: white;

  @include for-size(tablet) {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.category1 {
  background: #f0d1a5;
}
.category2 {
  background: #c2e297;
}

.contacts__line {
  margin: 25px 0;
  border-bottom: 1px solid #e1e1e1;

  @include for-size(tablet) {
    margin: 30px 0;
  }

  @include for-size(desktop) {
    margin: 32px 0;
  }
}

.period-card__time {
  color: #ffa5ba;
  margin-top: 0;
  margin-bottom: 10px;

  @include for-size(tablet) {
    margin-bottom: 16px;
  }
}

.address-card {
  margin-bottom: 0;
}
.contacts__button {
  @include for-size(tablet) {
    display: flex;
    justify-content: center;
  }
}

.contacts-card__button--location,
.backdrop-form__button {
  @include button(11px, #d41342);
  display: block;
  color: $primary-white-color;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  height: 44px;
  width: 160px;
  margin: 0 auto 10px;
  transition: 250ms;

  &:hover,
  &:focus {
    background: #c7133e;
  }

  @include for-size(tablet) {
    margin: 0 14px 0 0;
    width: 180px;
  }
  @include for-size(desktop) {
    margin: 0 15px 0 0;
    width: 198px;
  }

  & svg {
    stroke: $bg-color-main;
    width: 8px;
    height: 16px;
    margin-left: 13px;
    position: relative;
    bottom: -3px;
  }
}
.contacts-card__button--franchise {
  @include button(11px, #ffffff);
  display: block;
  color: $accent-color;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  height: 44px;
  width: 160px;
  margin: 0 auto;
  transition: 250ms;
  &:hover,
  &:focus {
    background: #ecebeb;
  }

  @include for-size(tablet) {
    margin: 0;
    width: 180px;
  }

  @include for-size(desktop) {
    margin: 0;
    width: 198px;
  }

  & svg {
    stroke: #d41443;
    width: 8px;
    height: 16px;
    margin-left: 13px;
    position: relative;
    bottom: -3px;
  }
}

// MODAL

.is-hidden {
  @extend %is-hidden;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(212, 20, 67, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 20;
}
.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: repeating-radial-gradient(
    circle,
    #ffa5ba,
    #ffa5ba 30px,
    #ffb8ca 0,
    #ffb8ca 60px
  );
  // background-color: $primary-white-color;
  border-radius: 24px;

  @include for-size(mobile) {
    max-width: 450px;
    max-height: 609px;
  }

  @include for-size(desktop) {
    max-width: 528px;
    max-height: 581px;
  }
}
.backdrop__button {
  position: absolute;
  top: 0%;
  right: 5%;
  width: 40px;
  height: 40px;
  border: none;
  margin-top: 10px;
  border-radius: 22px;
  border: none;

  background-color: #d41443;
  fill: #c7133e;
  cursor: pointer;
  &:hover,
  &:focus {
    background: transparent;
    border: 1px solid $primary-white-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.backdrop__icon {
  width: 11px;
  height: 11px;
  stroke: $accent-color;
  fill: #d41443;
  z-index: 20;
}
.backdrop-form {
  padding: 50px 40px 20px 40px;
}
.backdrop-form__title {
  @include for-size(mobile) {
    // max-width: 240px;
    @include push-auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.43;
    letter-spacing: 0.03em;
  }
  margin-bottom: 12px;
  font-weight: Normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $accent-color;
}
.backdrop-form__label {
  position: relative;
  @include flex-column;

  @include for-size(mobile) {
    min-width: 370px;
  }
  @include for-size(desktop) {
    min-width: 448px;
  }
  margin-bottom: 10px;
  color: $primary-black-color;

  &:focus-within .backdrop-form__textarea,
  &:focus-within .backdrop-form__icon,
  &:focus-within .backdrop-form__input {
    outline: none;
    border-color: $accent-color;
    fill: $accent-color;
  }
}
.backdrop-form__subtitle {
  margin-bottom: 4px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: $primary-black-color;
}
.backdrop-form__input {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  padding: 11px 12px 11px 10px;
  border: 1px #c7133e solid;
  border-radius: 4px;
}
.backdrop-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: $accent-color;
}
.backdrop-form__label--textarea {
  margin-bottom: 20px;
}
.backdrop-form__textarea {
  resize: none;

  @include for-size(mobile) {
    min-width: 370px;
  }
  @include for-size(desktop) {
    min-width: 448px;
  }
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;

  &::placeholder {
    color: $bg-color-mob-menu;
  }
}

.backdrop-form__button {
  @include for-size(tablet) {
    margin: 0 auto 10px;
    // margin: 0 14px 0 0;
    width: 180px;
  }
  @include for-size(desktop) {
    // margin: 0 15px 0 0;
    margin: 0 auto 10px;
    width: 198px;
  }
}

.container2 {
  width: 500px;
  margin: 50px auto 0;
  text-align: center;
}

/*Styling Selectbox*/
.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
}
.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
}
.dropdown .select > i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px;
}
.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204);
}
.dropdown:active {
  background-color: #f8f8f8;
}
.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}
.dropdown.active .select > i {
  transform: rotate(-90deg);
}
.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
}
.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}
.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}

// ======================================
.location-list {
  display: none;
  margin-left: -10px;
  padding: 0;

  // .actions:hover {
  //   display: block;
  //   @media screen and (max-width: 768px) {
  //     .contacts-card__button--franchise {
  //       opacity: 0;
  //       pointer-events: none;
  //     }
  //   }
  // }
}
// .actions:hover .location-list#actions {
//   display: block;
// }

.location-list__item {
  display: block;
  align-items: center;
  width: 160px;
  height: 44px;
  padding: 11px;
  color: #d41443;
  border: 1px solid #e18298;
  border-radius: 22px;
  margin-top: 5px;
  background-color: #fff;
  z-index: 2;
  &:first-child {
    border: 1px solid #e18298;
    margin-top: 20px;
  }

  &:hover,
  &:focus {
    background-color: $border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px) {
    // padding-left: 24px;
    width: 180px;
  }
}

.contacts-card__button--location:hover .contacts-card__icon {
  transform: rotate(90deg);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-show {
  display: block;
}

.bnt-opacity {
  @media screen and (max-width: 767px) {
    opacity: 0;
    pointer-events: none;
  }
}

// .contacts__button:active .contacts-card__button--franchise,
// .contacts__button:hover .contacts-card__button--franchise {
//   @media screen and (max-width: 767px) {
//     opacity: 0;
//     pointer-events: none;
//   }
// }

// .contacts__button:not(:active) .contacts-card__button--franchise,
// .contacts__button:not(:hover) .contacts-card__button--franchise {
//   @media screen and (max-width: 767px) {
//     opacity: 1;
//     pointer-events: visible;
//   }
// }
