.customer-rewiews {
  padding: 83px 0 212px;
  @media screen and (min-width: 768px) {
    padding: 121px 0 244px;
  }
  @media screen and (min-width: 1280px) {
    padding: 123px 0 281px;
  }
}
.img {
  width: 85px;
  padding-bottom: 29px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding-bottom: 19px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 15px;
  }
}
.description {
  position: relative;
  padding: 43px 66px 26px 57px;
  background: #fafafa;
  margin: 0 auto;
  margin-bottom: 52px;
  width: 280px;
  height: 308px;
  @media screen and (min-width: 768px) {
    padding: 47px 80px 34px 80px;
    margin-bottom: 42px;
    width: 620px;
    height: 164px;
  }
  @media screen and (min-width: 1280px) {
    padding: 47px 89px 39px 87px;
    margin-bottom: 34px;
    width: 926px;
    height: 138px;
  }

  &::after {
    position: absolute;
    top: 10%;
    left: 18%;
    content: '';
    background-image: url(/images/quotes.png);
    width: 54px;
    height: 40px;
    @media screen and (min-width: 768px) {
      top: 15%;
      left: 4.5%;
    }
    @media screen and (min-width: 1280px) {
      top: 18%;
      left: 5%;
    }
  }
}
.description-text {
  position: absolute;
  top: 45px;
  left: 50px;
  width: 180px;
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: $primary-black-color;
  z-index: 2;
  padding: 0 16px 6px 7px;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 28px,
    #e1e1e1 29px,
    transparent 30px
  );
  @media screen and (min-width: 768px) {
    width: 524px;
    font-size: 14px;
    line-height: 30.24px;
    padding: 0 44px 6px 20px;
  }
  @media screen and (min-width: 1280px) {
    width: 813px;
    font-size: 16px;
    line-height: 29.76px;
    padding: 0 35px 6px 28px;
  }
}
.name {
  position: relative;
  text-align: center;
  color: $primary-black-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 29.76px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 37.2px;
  }

  &::before {
    position: absolute;
    top: -15px;
    left: 47%;
    content: '';
    background-image: url(/images/ellipse-group.png);
    width: 32px;
    height: 4px;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      top: -14px;
      left: 48%;
    }
    @media screen and (min-width: 1280px) {
      top: -18px;
      left: 48.5%;
    }
  }
  &::after {
    position: absolute;
    top: 50px;
    left: 42%;
    content: '';
    background-image: url(/images/pagination.png);
    width: 73px;
    height: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      top: 47px;
      left: 45%;
    }
    @media screen and (min-width: 1280px) {
      top: 42px;
      left: 46%;
    }
  }
}
