// Футер

.footer {
  background-color: $bg-color-secondary;
}

.footer-section {
  border-bottom: 1px solid $border-color;
}

.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }
}

.container-description {
  @media screen and (min-width: 768px) {
    padding-bottom: 91px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 97px;
  }
}

// Заголовки в Футере

.title--footer {
  max-width: 232px;
  text-align: left;
  @media screen and (min-width: 768px) {
    max-width: 340px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 472px;
  }
}

.section-title--footer {
  margin-top: 17px;
  max-width: 200px;
  text-align: left;
  @media screen and (min-width: 768px) {
    max-width: 340px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    max-width: 474px;
    margin-bottom: 0;
  }
}

// Иконки соц.сетей

.social-list {
  display: flex;
  justify-content: flex-end;
  margin-top: 43px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 0;
  }

  &__item:not(:last-child) {
    margin-right: 28px;
  }

  &__link {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-icon-color;
    border-radius: 50%;
    fill: $primary-white-color;

    &:hover,
    &:focus {
      background-color: $accent-color;
    }

    @media screen and (min-width: 768px), (min-width: 1280px) {
      width: 34px;
      height: 34px;
    }
  }
}

// Контакты в футере

.contact-footer {
  margin-top: 46px;
  margin-bottom: 43px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: $primary-black-color;

  &__link {
    color: $accent-color;
    display: inline-flex;
  }
}

// Копирайт

.copyright {
  padding-top: 22px;
  padding-bottom: 25px;

  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }

  &__text {
    margin: 0 auto;
    width: 150px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    color: $primary-text-color;
    @media screen and (min-width: 768px) {
      width: 276px;
      line-height: 1.86;
      letter-spacing: 0.02em;
    }
  }
}
