.products {
  box-sizing: border-box;
  padding: 121px 0 98px;
  text-decoration: none;
  font-family: $primary-font;
  font-style: normal;
  list-style: none;
  @media screen and (min-width: $tablet) {
    padding: 122px 0 112px;
  }
  @media screen and (min-width: $desktop) {
    padding: 127px 0 119px;
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 31px;
    font-family: $accent-font;
    font-size: 34px;
    line-height: 1.147;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
    @media screen and (min-width: $tablet) {
      margin-bottom: 39px;
      font-size: 48px;
      line-height: 1.146;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 49px;
      font-size: 58px;
      line-height: 1.138;
      letter-spacing: 0.06em;
    }
  }

  &__subtitle {
    font-family: $accent-font;
    font-size: 18px;
    line-height: 1.167;
    text-align: center;
    text-transform: uppercase;
    color: $label-title-color;
    @media screen and (min-width: $tablet) {
      font-size: 26px;
      line-height: 1.154;
    }
    @media screen and (min-width: $desktop) {
      font-size: 30px;
      line-height: 1.133;
      letter-spacing: 0.04em;
    }
  }

  &__title,
  &__subtitle {
    font-style: normal;
    font-weight: 400;
  }

  &__list {
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    justify-content: center;

    display: grid;
    @media screen and (max-width: $tablet) {
      grid-template-columns: 1fr;
      grid-row-gap: 17px;
    }
    @media screen and (min-width: $tablet) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;
      align-items: flex-end;
    }
    @media screen and (min-width: $desktop) {
      grid-template-columns: 335px 338px 335px;
      grid-column-gap: 23px;
    }
  }

  &__card {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;

    @media screen and (max-width: $tablet) {
      width: 100%;
      height: 598px;
    }
    @media screen and (min-width: $tablet) {
      &:nth-child(1) {
        width: 100%;
        height: 589px;
        .products__img {
          height: 226px;
        }
      }
      &:nth-child(2) {
        width: 100%;
        height: 596px;
        .products__img {
          height: 233px;
        }
      }
      &:nth-child(3) {
        width: 100%;
        height: 587px;
        .products__img {
          height: 224px;
        }
      }
    }

    @media screen and (min-width: $desktop) {
      width: 100%;

      &:nth-child(1) {
        height: 735px;

        .products__box {
          width: 329px;
          margin-left: 3px;
          margin-right: 3px;
        }

        .products__img {
          height: 335px;
          width: 335px;
        }
      }

      &:nth-child(2) {
        height: 735px;
        padding-left: 1px;

        .products__box {
          width: 330px;
          margin-left: 2px;
          margin-right: 5px;
        }
        .products__img {
          right: 0;
          height: 335px;
          width: 337px;
        }
        .products__boxtext {
          padding: 0 44px 0 45px;
        }
      }

      &:nth-child(3) {
        height: 735px;

        .products__box {
          width: 329px;
          margin-left: 2px;
          margin-right: 4px;
        }
        .products__img {
          height: 335px;
          width: 335px;
        }
      }
    }

    &:nth-child(1) {
      .products__box {
        background: $bg-color-card1;
      }
    }
    &:nth-child(2) {
      .products__box {
        background: $bg-color-card2;
      }
    }
    &:nth-child(3) {
      .products__box {
        background: $bg-color-card3;
      }
    }
  }

  &__img {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 249px;
    height: 252px;
    @media screen and (min-width: $tablet) {
      width: 220px;
    }
  }

  &__box {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 485px;
    border: none;
    border-radius: 24px;
    @media screen and (min-width: $tablet) {
      width: 220px;
    }
    @media screen and (min-width: $desktop) {
      height: 525px;
    }
  }

  &__boxtitle {
    margin-top: 161px;
    font-family: $accent-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: $primary-white-color;
    @media screen and (min-width: $tablet) {
      margin-top: 152px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 30px;
      line-height: 1.1333;
      margin-top: 163px;
      margin-right: 1px;
    }
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      background-image: url(../images/group-dot.png);
      width: 26px;
      height: 6px;
      top: 214px;
      z-index: 3;
      @media screen and (min-width: $tablet) {
        top: 205px;
      }
      @media screen and (min-width: $desktop) {
        top: 229px;
      }
    }
  }

  &__boxtext {
    padding: 0 40px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: $primary-white-color;
    margin-top: 66px;
    @media screen and (min-width: $tablet) {
      line-height: 1.7857;
      padding: 0 11px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 70px;
      font-size: 16px;
      line-height: 1.75;
      padding: 0 44px;
    }
  }
}

//  +++ animation +++

.touch-transform {
  transition-property: color, fill, background-color, border, box-shadow, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes btn {
  0% {
    transform: none;
  }
  // 100% {
  //   // transform: rotareZ(90deg);
  // }
}
@keyframes text {
  0% {
    transform: scaleX(1.0);
  }
  50% {
    transform: scaleX(1.15);
  }
  100% {
    transform: scaleX(1.0);
  }
}

// +++ Open block +++

[id^='open-block'] {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: #000000b3;
  transition: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  & .products__img {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: opacity(.7);
    z-index: 0;
  }
}

[id^='open-block']:target {
  visibility: visible;
  opacity: 1;

}

.open-block-inner {
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
  background: transparent;
  transform: translate(-50%, -50%);
  transition: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: $tablet) {
    width: 80vw;
    height: 80vh;
    padding: 40px;
    border: none;
    border-radius: 24px;
  }
    @media screen and (min-width: $desktop) {
      width: 60vw;
      height: 60vh;
      padding: 40px;
      border: none;
      border-radius: 24px;
    }
}

#open-block-1 .open-block-inner {
  left: 100%;
  top: 0%;
}

#open-block-1:target .open-block-inner {
  left: 50%;
  top: 50%;
  background: radial-gradient(at bottom, #ffcad8, $bg-color-card1);
  text-shadow: 1px 1px 0.3em #860022, 2px 2px 2em #ff004090;
}


#open-block-2 .open-block-inner {
  left: 100%;
  top: 0%;
}

#open-block-2:target .open-block-inner {
  left: 50%;
  top: 50%;
  background: radial-gradient(at bottom, #ffe9c9, $bg-color-card2);
  text-shadow: 1px 1px 0.3em #854d00, 2px 2px 2em #ff950090;
}

#open-block-3 .open-block-inner {
  left: 100%;
  top: 0%;
}

#open-block-3:target .open-block-inner {
  left: 50%;
  top: 50%;
  background: radial-gradient(at bottom, #e8ffcb, $bg-color-card3);
  text-shadow: 1px 1px 0.3em #365f00, 2px 2px 2em #c2e29790;
}

.open-block-text {
  position: relative;

  & .products__boxtitle {
    margin-top: 0;
    transition-duration: 2500ms;
    animation: text 2000ms ease-in-out infinite;
        
    &::after {
      top: 45px;
    }
  }

  & .products__boxtext {
    margin-top: 50px;
    padding: 0;
  }
}

.open-block-close {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;

  & .mobile-close__icon {
    width: 24px;
    height: 24px;
    transform: rotateZ(90deg);
    transition-duration: 1500ms;
    animation: btn 2000ms linear infinite;
  }
}
